@import "~bootstrap/scss/bootstrap";

$brd-col: rgb(83, 83, 83);
$bg-col: rgb(47, 160, 141);
$title-col:rgb(116, 17, 17);

.wrapper{
    max-width: 1200px;
    margin: auto;
}


// Sidebar component
.sidebar{
    width: 100%;
    padding: 20px 0 20px 20px;
    border: 2px solid $brd-col;
    background: $bg-col;
}

// Movies list

.film-preview{
    position: relative;
    border: 2px solid $brd-col;
    border-radius: 2px;
    background: $bg-col;
    height: 100%;
    width: 100%;
    margin: auto;
    &:hover::after{
        opacity: 1;
        z-index: -1;
        
    }
    &::after{
        opacity: 0;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        content: '';
        box-shadow: 3px 2px 5px 3px;
        transition: all .5s linear;
    }
    &__img{
        border: 1px solid #fff;
        border-radius: 2px;
    }
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__btn{
        align-self: center;
    }
    &__title{
        color: $title-col;
        font-weight: 700;
        font-size: 20px;
        transition: color .5s linear;
        &:hover{
            color: rgb(6, 110, 58);
            text-decoration: none;
        }
    }
    &__overview{
        color: #fff;
    }
}

// Film container

.film-details{
    border: 2px solid $brd-col;
    border-radius: 2px;
    box-sizing: border-box;
    background: $bg-col;
    color: #fff;
    &__img{

    }
    &__description{
        
    }
    &__title{
        color: $title-col;
    }
}

// Search component

.search-form{
    width: 100%;
    label{
        color: #fff;
        font-weight: 600;
    }
    input{
        padding-left: 10px; 
    }
}